*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


body
{
   background-color: #cfccc9;
}

h1
{
   font-family: 'Pacifico', cursive;
}

h2
{ 
   font-family: 'Comfortaa', sans-serif;
}


header
{
   border-bottom: dotted gray ;
   padding-bottom: 40px;
}
.bookmarker-parent
{
   height: 50px;
   
}
.bookmarker
{
   width: 17%;
   height: 25px;
   margin: auto;
   position: relative;
   background-color:#7082f8;
   transition: 1s;
}
.bookmarker h1
{
   position: absolute;
   bottom: 0;
   font-style: italic;
}

.bookmarker:hover
{
   height: 40px;
}

.section-1
{
   border-bottom: dotted gray;
   padding-bottom: 40px;
}

.section-1 .button
{
   border-radius: 5px;
   background-color:#6b7df1;
   font-weight: 700;
}

.section-1 i
{
   color: rgb(45, 44, 44);
}

.section-1 .button:hover
{
   background-color: rgb(57, 66, 235);
}

